html
  head
    title="Unit Converter"
    link(rel="stylesheet" href="/public/reset.css")
    link(rel="stylesheet" href="/public/style.css")
  body
    main
      section
        h1="Unit Converter"
        
        nav
          ul
            - for (let unitType of ["length", "weight", "temperature"]) {
            -   if (unitType !== locals.unitType) {
                  li
                    a(href=`/${unitType}`)=unitType[0].toUpperCase() + unitType.slice(1)
            -    } else {
                    li(class="selected")
                      b=unitType[0].toUpperCase() + unitType.slice(1)
            -    }
            -  }

        form(method="post" action=`/${locals.unitType}`)
          label(for="unconvertedAmount")="Enter the length to convert:"
          input(
            type="number" 
            name="unconvertedAmount" 
            required
            value=`${("unconvertedAmount" in locals) ? locals.unconvertedAmount : ""}`)
          
          label(for="convertFrom")="Unit to convert from:"
          select(name="convertFrom")
            - for (let unit of locals.units) {
              option(value=`${unit}`)=`${unit[0].toUpperCase() + unit.slice(1)}`
            - }
          
          label(for="convertTo")="Unit to convert to:"
          select(name="convertTo")
            - for (let unit of locals.units) {
              option(value=`${unit}`)=`${unit[0].toUpperCase() + unit.slice(1)}`
            - }
          
          input(type="submit" value="Convert")
      
      section
        h1="Unit Converter"
        
        nav
          ul
            - for (let unitType of ["length", "weight", "temperature"]) {
            -   if (unitType !== locals.unitType) {
                  li=unitType[0].toUpperCase() + unitType.slice(1)
            -    } else {
                    li(class="selected")
                      b=unitType[0].toUpperCase() + unitType.slice(1)
            -    }
            -  }

        p="Result of your calculation:"

        - if ("convertedAmount" in locals) {
            p(class="result")=`${locals.unconvertedAmount} ${(locals.unconvertedAmount !== 1) ? locals.pluralizer(locals.convertFrom) : locals.convertFrom} = ${locals.convertedAmount} ${(locals.convertedAmount !== 1) ? locals.pluralizer(locals.convertTo) : locals.convertTo}`
        - }

        form(method="get" action=`/${locals.unitType}`)
          input(type="submit" value="Reset")